:root {
  --color-bg: #ffffff;
  --color-bg-hover: #dedede;
  --color-fg: #1c1c1c;
  --color-fg-hover: #3d3d3d;
  --color-inactive: rgba(28, 28, 28, 0.4);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  /* min-height: calc(100vh - 140px); */
  color: var(--color-fg);
  background: var(--color-bg);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
